<section
  class="container max-w-[90%] max-md:max-w-full max-lg:w-[95%] mx-auto mb-6"
>
  <div class="flex flex-col items-center justify-start mb-6">
    <h3 class="!text-2xl text-center capitalize font-medium text-gray-700">
      {{ "homepage.comments.TITLE" | translate }}
    </h3>
    <swiper-container
      slides-per-view="1"
      loop="true"
      space-between="16"
      pagination="true"
      autoplay="true"
      class="w-2/3 max-md:w-full"
    >
      @for(comment of comments; track comment.id){
      <swiper-slide class="mb-8 mt-2">
        <comment-card [comment]="comment"></comment-card>
      </swiper-slide>
      }
    </swiper-container>
  </div>
</section>
