/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cairo";
  src: url("assets/fonts/cairo/static/Cairo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply m-0  h-full;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  small,
  b,
  a {
    @apply !font-cairo;
  }
}
