<div class="stars-container">
  <label for="one-star" class="star" [ngClass]="{ active: rate === 1 }">
    <i class="fa-solid fa-star"></i>
  </label>

  <label for="two-star" class="star" [ngClass]="{ active: rate === 2 }">
    <i class="fa-solid fa-star"></i>
  </label>

  <label for="three-star" class="star" [ngClass]="{ active: rate === 3 }">
    <i class="fa-solid fa-star"></i>
  </label>

  <label for="four-star" class="star" [ngClass]="{ active: rate === 4 }">
    <i class="fa-solid fa-star"></i>
  </label>

  <label for="five-star" class="star" [ngClass]="{ active: rate === 5 }">
    <i class="fa-solid fa-star"></i>
  </label>
</div>
